In [22]:
import pandas as pd
import os

In [38]:
MODEL_ALIAS="Qwen2.5-Math-1.5B"

In [39]:
train_data_path = f"../predicting_learnability/MATH_{MODEL_ALIAS}-SR_train.parquet"

In [40]:
og_train_df = pd.read_parquet(train_data_path)

In [41]:
og_train_df.describe()

            correct    total  success_rate
count  12000.000000  12000.0  12000.000000
mean      17.257917     50.0      0.345158
std       14.109376      0.0      0.282188
min        0.000000     50.0      0.000000
25%        2.000000     50.0      0.040000
50%       17.000000     50.0      0.340000
75%       30.000000     50.0      0.600000
max       49.000000     50.0      0.980000

In [29]:
og_train_df.describe()

            correct    total  success_rate
count  12000.000000  12000.0  12000.000000
mean      31.907750     50.0      0.638155
std       20.900653      0.0      0.418013
min        0.000000     50.0      0.000000
25%        6.000000     50.0      0.120000
50%       45.000000     50.0      0.900000
75%       50.000000     50.0      1.000000
max       50.000000     50.0      1.000000

In [30]:
og_train_df

,correct,total,success_rate,prompt,ground_truth
0,50,50,1.00,<|im_start|>system\nPlease reason step by step...,2
1,50,50,1.00,<|im_start|>system\nPlease reason step by step...,18
2,0,50,0.00,<|im_start|>system\nPlease reason step by step...,\dfrac{7}{20}
3,49,50,0.98,<|im_start|>system\nPlease reason step by step...,1.36
4,0,50,0.00,<|im_start|>system\nPlease reason step by step...,28
...,...,...,...,...,...
11995,46,50,0.92,<|im_start|>system\nPlease reason step by step...,19
11996,23,50,0.46,<|im_start|>system\nPlease reason step by step...,10
11997,50,50,1.00,<|im_start|>system\nPlease reason step by step...,22
11998,40,50,0.80,<|im_start|>system\nPlease reason step by step...,x^2 + x
11999,1,50,0.02,<|im_start|>system\nPlease reason step by step...,35^\circ